<!DOCTYPE html>

<html lang="en-us">
  <head>
     <title>Welcome to SVVV !!</title>
     <link rel="stylesheet" href="/built/css/default.css" />


     <script src="/bower_components/angular/angular.js"></ script>
     <script src="/bower_components/angular-route/angularroute.
js"></script>
     <script src="/js/controllers.js"></script>
     <style>
     img {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    padding-top: 10%;
           }
      marquee {
   text-align:center;
}
     </style>
   </head>
   <body>
  <center>
<img src= "https://www.google.com/url?sa=i&url=https%3A%2F%2Ftimesofindia.indiatimes.com%2Flife-style%2Fevents%2Fsurya-grahan-today-annular-solar-eclipse-2019-december-images-photos-pics-video-check-out-these-breathing-pictures-of-the-seasons-last-surya-grahan-of-26-december-2019-india%2Fphotostory%2F72975550.cms&psig=AOvVaw3FYMhbVPtXLfJb31vnn4Zf&ust=1596185552762000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCLis2NnM9OoCFQAAAAAdAAAAABAI" alt="ibm_logo"width="200"
height="150" >
<br>
        </center>
<marquee>SVVV Indore</marquee>
         <marquee direction="up" behavior="slide"
style="height:100px"><font size="160px"> WELCOME TO SVVV
LEARNING </marquee>
<marquee>SVVV Indore</marquee>
   
   </body>
   <script>
              angular.element(document).ready(function() {
              angular.bootstrap(document, ['ConsoleModule']);
    });
     </script>
</html>